@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('../fonts/pokemon_solid-webfont.eot');
    src: url('../fonts/pokemon_solid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pokemon_solid-webfont.woff2') format('woff2'),
         url('../fonts/pokemon_solid-webfont.woff') format('woff'),
         url('../fonts/pokemon_solid-webfont.ttf') format('truetype'),
         url('../fonts/pokemon_solid-webfont.svg#pokemon_solidnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin: 40px;
  font-family: 'pokemon_solidnormal', Helvetica, sans-serif;
  color: #0E46F1;
}


.pokemon, .pokedex-list {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  border: 4px solid #F1D811;
  padding-top: 20px;

  * {
    text-align: center;
  }
  img {
    width: 150px;
  }
  li {
    text-align: left;
    text-decoration: underline;
    color: #0E46F1;
    padding: 5px;
    font-size: 20px;
  }
  li:hover {
    cursor: pointer;
    cursor: hand;
  }
}
